<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to SpaceStation 13 - /tg/station 13</title>
    <link rel="stylesheet" href="{% webpack 'main.css' %}">
    <script src="{% webpack 'js/gamebanners.js' %}"></script>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon"/>
  </head>
  <body data-color-scheme="dark">
  <h1 class="hidden">Does this website look weird? Try a hard refresh! (press ctrl + F5)</h1>
    <header>
      {% macro render_menu(items) %}
        <menu>
          {% for item in items %}
            <li>
              <a href="{{ item.href if item.href else '#' }}">{{ item.title }}</a>
              {% if item.links %}
                {{ render_menu(item.links) }}
              {% endif %}
            </li>
          {% endfor %}
        </menu>
      {% endmacro %}
      <nav class="flex space-around">
        {{ render_menu(nav) }}
      </nav>
    </header>
    <i class="fa fas fa-pause" id="animationControl"></i>
    <main>
      <img src="/assets/img/tgstation.png" id="masthead"/>
      <section id="alerts" class="invisible mb-4">
        {% for type, messages in alerts %}
          {% for message in messages %}
            <div class="flash {{ type }}" id="{{ message.message|slug }}">
              <span>{{ message.message }}</span>
              {% if message.dismissible %}
                <i class="fa fa-times dismiss" title="Dismiss this alert"></i>
              {% endif %}
            </div>
          {% endfor %}
        {% endfor %}
      </section>
      <section id="about">
        <h1 class="section-title" id="about">What is Space Station 13?</h1>
        <i class="fa fa-times dismiss" title="Dismiss this section"></i>
        <article class="pb-0">
          <p>Space Station 13 is a paranoia-laden round-based roleplaying game set against the backdrop of a nonsensical, metal
            death trap masquerading as a space station, with charming spritework designed to represent the sci-fi setting and its
            dangerous undertones. Have fun, and survive!</p>
          <nav class="space-around" id="about-links">
            <menu class="space-around">
              <li class="py-0 px-1 m-0 centered">
                <a href="#">Get Byond</a>
              </li>
              <li class="py-0 px-1 m-0 centered">
                <a href="#">Host a Server</a>
              </li>
            </menu>
          </nav>
        </article>
      </section>
      <section id="servers" class="mt-4">
        <h1 class="section-title">Servers</h1>
        <span class="playercount hidden"></span>
        <div class="gamebanners">
          {% for server in servers %}
            <a class="gamebanner loading" data-server="{{ server.identifier }}" id="{{ server.identifier }}" href="byond://{{ server.public_address }}">
              <div class="icons">
                <i class="fa fas fa-fw fa-globe hidden" id="{{ server.identifier }}-hub" title="This server is on the byond hub"></i>
                <i class="fa fas fa-fw fa-shield-halved hidden" id="{{ server.identifier }}-bunker" title="This server is not accepting new players"></i>
              </div>
              <div class="flex start">
                <span class="address mr-1">{{ server.public_address }}</span>
                <span class="revision">&nbsp;</span>
              </div>
              <span class="name">{{ server.name }}</span>
              <span class="version">Loading...</span>
              <span class="map">&nbsp;</span>
              <span class="status">&nbsp;</span>
            </a>
          {% endfor %}
        </div>
      </section>
      <section id="banner" class="invisible">
        <img
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzI4IiBoZWlnaHQ9IjkwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHdpZHRoPSI3MjgiIGhlaWdodD0iOTAiIGZpbGw9IiM3ZjdjODAiLz48dGV4dCB4PSI1MCUiIHk9IjUwJSIgZG9taW5hbnQtYmFzZWxpbmU9ImNlbnRyYWwiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZpbGw9IiMwMDAiIGZvbnQtZmFtaWx5PSJBcmlhbCwgSGVsdmV0aWNhLCBzYW5zLXNlcmlmIiBmb250LXNpemU9IjMwIj5sb2FkaW5nLi4uPC90ZXh0Pjwvc3ZnPg=="
          wdith="728"
          height="90">
        <script>
          const banners = {{ banners | dump | safe }};
          let banner = banners[Math.floor(Math.random() * banners.length)]
          document.querySelector('#banner img').setAttribute('src', `assets/img/banners/${banner}`);
        </script>
      </section>
    </main>
    <footer>
      /tg/station 13 - v.{{ changelog[0].version }} -
      <a href="https://github.com/tgstation-operations/website-v2" target="_blank">Source Code</a><br> Site design based off of work done by
      <a href="https://mozi-h.de/" target="_blank">mozi_h</a><br>
      <a href="#" class="clearSettings">Clear Settings</a>
    </footer>
    <div id="space-bg-container" class="">
      <div class="bg-space space-1"></div>
      <div class="bg-space space-2"></div>
      <div class="bg-space space-2-blue"></div>
      <div class="bg-space space-2-black"></div>
      <div class="bg-space space-2-red"></div>
      <div class="bg-space space-2-yellow"></div>
      <div class="bg-space space-3"></div>
    </div>
    <script defer src="{% webpack 'js/dismiss.js' %}"></script>
    <script defer src="{% webpack 'js/pause.js' %}"></script>
    <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
  </body>
</html>