section#servers
	.card.bg-dark-850.border.mt-5
		.card-body.pb-1
			.custom-title
				.triangle-before &nbsp;
				h4.title Servers
				.triangle-after &nbsp;
			.mt-2.mb-0
				small.position-absolute.top-0.end-0.mt-2.me-3
					span.bannerusercount
				br
				.row.d-flex.justify-content-around.g-2
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://sybil.tgstation13.org:1337")
							span.gamebannerplaceholder(data-gamebannerserver="sybil")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://manuel.tgstation13.org:1447")
							span.gamebannerplaceholder(data-gamebannerserver="manuel")
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://terry.tgstation13.org:3336")
							span.gamebannerplaceholder(data-gamebannerserver="terry")
				br
				.row.d-flex.justify-content-around.g-2
					.col-md-4.mb-1.mb-md-0.d-flex.justify-content-center.server-banner
						a(href="byond://tgmc.tgstation13.org:5337")
							span.gamebannerplaceholder(data-gamebannerserver="tgmc")
				small.d-block.text-center.mt-1
					| Green = New round lobby, Blue = Round in progress, Red =
					| Round over or error
