section#userbanner
	.mt-5.text-center
		small.d-block.mb-1  A word from one of our players
		// TODO: make 50buck.php and getlogo.php available in this repo (And merge them? What do they do?) and use relative links here
		img.img-fluid(src="/50buck.php")
		//- img.img-fluid.mt-2(src="/getlogo.php")
		//- br
		//- a.small.d-block(href="https://tgstation13.org/phpBB/viewtopic.php?f=2&t=3371") How to get your banner here
